<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.gdhealth.headoffice.chat.AdministratorChatMapper">

	<select id="selectRoomList" resultType="map">
		SELECT
		cr.chat_room_no roomNo,
		c.customer_id customerId
		FROM chat_room cr
		INNER JOIN customer c
		ON cr.customer_no = c.customer_no
	</select>

	<select id="selectChatList" resultType="com.tree.gdhealth.dto.ChatMessage">
		SELECT
		message_content messageContent,
		customer_no customerNo,
		employee_no employeeNo
		FROM chat_message
		WHERE chat_room_no = #{chatRoomNo}
	</select>

	<select id="selectRoomNo" parameterType="String">
		SELECT
		chat_room_no
		FROM chat_room cr
		INNER JOIN customer c
		ON c.customer_no = cr.customer_no
		WHERE c.customer_id=#{customerId}
	</select>

	<insert id="insertMessage" parameterType="com.tree.gdhealth.dto.ChatMessage">
		INSERT INTO chat_message(
		chat_room_no,
		customer_no,
		employee_no,
		message_content
		) VALUES (
		#{chatRoomNo},
		#{customerNo},
		#{employeeNo},
		#{messageContent}
		)
	</insert>

</mapper>